<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Select Location</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar placeholder="Search Location" (ionChange)="findLocation($event)" [debounce]="300"></ion-searchbar>

  <!-- <ion-list-header>
    <ion-label>List Header</ion-label>
  </ion-list-header> -->

  <!-- <ion-list>
    <ion-item button *ngFor="let item of filteredLocation; let i = index" (click)="setLocation(item.code)">
      <ion-label>{{ item.province }}</ion-label>
    </ion-item>

  </ion-list> -->
  <ng-template ngFor let-state [ngForOf]="filteredLocation">
    <ion-list>
      <ion-list-header>
        <ion-label>{{ state?.state }}</ion-label>
      </ion-list-header>
      <ion-item button *ngFor="let item of state?.zone; let i = index" (click)="setLocation(item.code)">
        <ion-label>{{ item.province }}</ion-label>
      </ion-item>
    </ion-list>
  </ng-template>

</ion-content>


