ion-content {
    --background: #dadde1;
}
ion-card {
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 0.5rem;
    > ion-card-content + ion-row {
        border-top: 1px solid #eaeaea;
    }
    ion-item {
        --padding-start: 0;
    }
}
.add-note {
    border: 1px solid #ccc;
    padding: .5rem 1rem;
    border-radius: 1.5rem;
    background: #eee;
    &:active, &:focus {
        border-color: #aaa;
        background: #eee;
    }
}