<ion-content>

  <ion-card class="ion-no-margin">
    <ion-card-content>
      
      <div class="add-note" (click)="createNoteModal()">
        Tambah Nota
      </div>

    </ion-card-content>
  </ion-card>

  <ion-card class="ion-no-margin" *ngFor="let item of combinedNotes; let i = index; trackBy: identify">

    <ion-card-content>

      <ion-item lines="none">
        <ion-avatar slot="start">
          <img *ngIf="item.type" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          <img *ngIf="!item.type" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9csd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label>
          <h3>{{ item?.createdBy ? item.createdBy : 'You' }}</h3>
          <p>
            {{ (item?.date ? distanceToNow(item.date) : '') | titlecase}}
          </p>
        </ion-label>
      </ion-item>

      <ion-text color="dark">
        <!-- <h2>
          <b>
            {{ (item?.date ? distanceToNow(item.date) : '') | titlecase}}
          </b>
        </h2> -->
        <div style="
          white-space: pre-line;
        ">
          {{ item.value }}
        </div>
      </ion-text>
    </ion-card-content>
    <ion-img [src]="item.img" *ngIf="item?.img"></ion-img>
    
    <ion-row>
      <ion-col *ngIf="!item.type">
        <ion-button expand="full" fill="clear" color="medium" size="small" (click)="presentActionSheet(i)">
          <ion-icon slot="start" name="create-outline"></ion-icon>
          Ubah
        </ion-button>
      </ion-col>
      <!-- hide kongsi for now -->
      <ion-col hidden>
        <ion-button disabled="true" expand="full" fill="clear" color="medium" size="small">
          <ion-icon slot="start" name="share-social-outline"></ion-icon>
          Kongsi
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-card>

</ion-content>
