<ion-content>
  <ion-list-header>
    <ion-label>Lokasi</ion-label>
  </ion-list-header>
  <ion-list>
    <ion-item button (click)="showLocationOption()">
      <ion-label>{{ ( location$ | async ).state }}</ion-label>
    </ion-item>
  </ion-list>
  <!-- <ion-list-header>
    <ion-label>Notifikasi</ion-label>
  </ion-list-header> -->
  <ion-list>
    <ion-item>
      <ion-label><p float-right>v0.1.1</p></ion-label>
    </ion-item>
  </ion-list>
</ion-content>
