<ion-header  class="ion-no-border">
  <ion-toolbar @slideUp *ngIf="!logoHidden">
    <!-- <ion-title size="large" color="primary">ayuh</ion-title> -->
    <ion-img class="app-logo ion-margin-start ion-margin-end" src="./assets/logo.svg"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-tabs>
  
    <ion-tab-bar slot="top">
      <ion-tab-button tab="waktu">
        <ion-icon name="reader-outline"></ion-icon>
        <ion-label>Siaran</ion-label>
      </ion-tab-button>
  
      <!-- <ion-tab-button tab="tab2">
        <ion-icon name="ellipse"></ion-icon>
        <ion-label>Tab 2</ion-label>
      </ion-tab-button> -->
  
      <ion-tab-button tab="setting">
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>Tetapan</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  
  </ion-tabs>

</ion-content>
