<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()" color="dark">Kembali</ion-button>
    </ion-buttons>
    <ion-title>Nota Baru</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="saveNotes()" [disabled]="noteValue.length === 0">Simpan</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-textarea 
    [(ngModel)]="noteValue"
    placeholder="Apa nota anda waktu ini?"
    rows="10"
    autofocus="true"
    required="true"
    ></ion-textarea>
  </ion-item>

  <ion-item button *ngIf="web && !selectedImg" (click)="getImage(elGambar)">
    <input #elGambar type="file" accept="image/*" style="display: none" (change)="displayImage($event)">
    <ion-icon slot="start" name="images-outline"></ion-icon>
     Gambar
  </ion-item>

  <ion-item *ngIf="!web">
    <ion-icon slot="start" name="images-outline"></ion-icon>
     Gambar
  </ion-item>

  <ion-img [src]="selectedImg" *ngIf="selectedImg"></ion-img>
  <ion-row *ngIf="selectedImg">
    <ion-col>
      <input #editElGambar type="file" accept="image/*" style="display: none" (change)="displayImage($event)">
      <ion-button expand="full" fill="clear" color="medium" size="small" (click)="getImage(editElGambar)">
        <ion-icon slot="start" name="images-outline"></ion-icon>
        Ubah
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="full" fill="clear" color="medium" size="small" (click)="clearImg()">
        <ion-icon slot="start" name="trash-outline"></ion-icon>
        Padam
      </ion-button>
    </ion-col>
  </ion-row>

</ion-content>